body{
    font-size: 1rem !important;
}

/* ? COLORS----------------------------------- */
.my-bgPrimary{
    background-color: white;
}

.my-bgSecondary{
    background-color: #dddddd;
}

.my-bgActive{
    background-color: #e9ebeb;
}

.my-bgInfo{
    background-color: #8edafc;
}

.my-bgMessage{
    background-color: #d5f9ba;
}

.my-textPrimary{
    color: black;
}

.my-textSecondary{
    color: #b1b1b1;
}

.my-textTertiary{
    color: #cdced4;
}

.my-textInfo{
    color: #44c4ff;
}

/* ? SEARCHBAR----------------------------- */
.my-middleBox{
    position: relative;
}

.my-middleBox .fa-search{
    position: absolute;
    top: 50%;
    left: 20px;
    transform: translate(0, -50%);
    color: #b1b1b1;
}

.my-middleBox input{
    height: 25px;
    text-indent: 30px;
    border-radius: 5px;
    background-color: white !important;
    border: none !important;
}

.my-middleBox input:focus{
    box-shadow: none !important;
}

/* ? IMAGES----------------------------------- */
img[alt="profileImage"]{
    clip-path: circle();
    /* height: 100%; da problemi su mobile */
    height: 64px;
}

/* ? SIZES------------------------------------ */
.my-topBarHeight{
    height: 80px;
}

.my-chatBarHeight{
    height: 80px;
}

.my-topBarHeight .fa-solid, .my-topBarHeight .fa-regular{
    width: 35px;
    text-align: center;
    font-size: 1.4rem;
}

.fa-bell-slash{
    clip-path: circle();
    height: 55px;
    width: 55px;
    text-align: center;
    line-height: 55px !important;
}

#chatBoxSection{
    height: calc(100vh - 100px);
    background-image: url("../img/mine.jpg");
    overflow-y: auto;
}

#activeNotificationSection{
    height: 70px;
}

#chatListSection{
    height: calc(100vh - 100px - 25px - 16px);
    overflow-y: auto;
    overflow-x: hidden;
}

@supports (height: 100dvh) {
    #chatListSection{
        height: calc(100dvh - 150px - 64px);
    }
    #chatBoxSection{
        height: calc(100dvh - 160px);
    }
}

/* #chatListBox{
    min-width: 415px;
} */

.my-contactHover:hover{
    cursor: pointer;
    background-color: #e9ebeb;
}

input{
    font-size: .7rem !important;
}

.my-message{
    position: relative;
    max-width: 55%;
}

.my-message .fa-solid.fa-chevron-down {
    position: absolute;
    top: 0;
    right: 0;
    color: #cdced4;
    margin: .3rem;
}

.my-message .fa-solid.fa-chevron-down:hover{
    cursor: pointer;
}

.my-textOneLine{
    line-height: 1rem;
    height: 1rem;
    overflow: hidden;
}

.my-emojiBox{
    position: absolute;
    background-color: white;
    border-radius: .5rem;
    padding: .2rem;
    z-index: 999;
    top: 0;
    left: 0;
    transform: translate(0, -105%);
    width: 230px;
}

.my-emojiBox > div{
    height: 200px;
    overflow-y: auto;
}

#inputMsgBar i:hover{
    cursor: pointer;
}